.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}